* {
	box-sizing: border-box;
}

#logo {
	font-size: 42px;
	font-weight: bold;
}

#logo-link { color: inherit; text-decoration: none; }
#logo-link:hover { color: black; }

header {
	margin-top: 30px;
	margin-bottom: 20px;
}

#archive-link {
	font-size: 10px;
}

#post-header {
	margin-bottom: 20px;
}

#post-title {
	font-weight: bold;
	margin-bottom: 1px;
	font-size: 28px;
}

#archive-title {
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 20px;
}

.archive-record {
	position: relative;
	margin-bottom: 10px;
}

.archive-date {
	position: relative;
	left: -100%;
	top: 3px;
	float: right;

	font-size: 10px;
	padding-right: 10px;
}

#post-date {
	font-size: 10px;
}

#post-body {
	margin-bottom: 40px;
}

#post-body h1,
#post-body h2,
#post-body h3 {
	padding-top: 10px;
	margin-bottom: 10px;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

body {
	width: 480px;
	margin: 10px auto;

	font-size: 16px;
	font-family: Georgia, serif;

	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;


	color: #444;
}

#post-body p {
	margin-bottom: 10px;
	line-height: 1.45em;
	word-spacing: 0.15em;
}

.highlight {
	background: #FDFDFD;
	border: 1px solid #E9E9E9;

	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	background: #FDFDFD;
}

code {
	font-family: monospace;
	font-size: 14px;
}

p code {
	padding: .1em .3em;
	background-color: #EEE;
	font-weight: bold;
}

p strong, p b {
	font-weight: bold;
}

p em, p i {
	font-style: italic;
}

hr {
	height: 30px;
	border: none !important;
}

p a {
	color: #888;

	text-decoration: none;
	border-bottom: 1px dotted #CCC;
	margin-right: .5em;
}

