
<html>
<head>
	<title>{{ page_title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/assets/reset.css" />
	<link rel="stylesheet" type="text/css" href="/assets/style.css" />
	<link rel="stylesheet" type="text/css" href="/assets/solarized.css" />
	<!--
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" type="text/css" href="solarized.css" />
	-->
</head>
<body>
	<div id="content">
		<h1 id="logo">Andrew Scala</h1>
		{{ content }}
	</div>
</body>
</html>

